<%= form_with(model: major, local: true) do |form| %>
  <% if major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(major.errors.count, "error") %> prohibited this major from being saved:</h2>

      <ul>
        <% major.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,"专业" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :college_id,"学院" %>
    <%= form.collection_select :college_id, College.order(:name), :id, :name , { :include_blank => '选择学院' }%>
  </div>
  <div class="btn">
  <%= form.submit "提交", data:{ confirm: '确定添加？' }%>
  </div>
<% end %>
