<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name, "用户名" %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :password, "密码" %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
  <%= form.label :password_confirmation, "确认密码" %>
  <%= form.text_field :password_confirmation %>
</div>

  <div class="field">
    <%= form.label :email, "邮箱" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.select(:gender_id, [['男',1], ['女',2]], {:selected => (@user.gender_id)}) %></br>
  </div>

  <div class="actions">
    <%= form.submit "提交" %>
  </div>
<% end %>
