<%= form_with(model: college, local: true) do |form| %>
  <% if college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
        <% college.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div class="field" style="text-align: center;margin-bottom:20px">
    <%= form.label :college_id,"学院名称" %>
    <%= form.text_field :college_id %>
  </div>
  <div class="actions">
  <ul>
  <li style="display: inline; margin-right:20px">
    <%= form.submit "提交",data: { confirm: '确定添加？' } %>
  </li>
  <li style="display: inline; margin-left:20px">
    <input type = "submit" name="Submit"  value="返回" onclick="javascript:window.history.back(-1);" >
  </li>
  </ul>
</div>
</div>
<% end %>
