<%= form_with(model: college, local: true) do |form| %>
  <% if college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
        <% college.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :学院名称 %>
    <%= form.text_field :学院名称 %>
  </div>

  <div class="actions">
    <%= form.submit "提交",data: { confirm: '确定添加？' } %>
  </div>
<% end %>
