<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :内容  %>
    <%= form.text_field :content%>
  </div>

  <div class="field">
    <%= form.label :收件人_id %>
    <%= form.number_field :to_id %>
  </div>

  <div>
    <div class="send">
    <%= form.submit "发送" ,data: { confirm: '确定发送？' } %>
    </div>
    <div class="sendtoall">
    <%= form.submit "发送给所有人" ,data: { confirm: '确定发送？' } %>
    </div>
  </div>

<% end %>
