<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="">
    <%= form.label :内容  %>
    <%= form.text_field :content, :style => "width:150px"%>
  </div>

  <div class="field">
    <%= form.label :收件人_id %>
    <%= form.number_field :to_id, :style=>"width:138px" %>
  </div>

  <div class="actions">
  <ul>
    <li style="display: inline; margin-left:20px"><%= form.submit "发送" ,data: { confirm: '确定发送？' } %></li>
    <li style="display: inline; margin-left:20px"><%= form.submit "发送给所有人" ,data: { confirm: '确定发送？' } %></li>
    <li style="display: inline; margin-left:20px"><input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);"></li>
  </div>

<% end %>
