<%= render "/layouts/header" %>
<p id="notice"><%= notice %></p>

<h1 >消息</h1>

<table class="messages_table">
  <thead>
    <tr>
      <th>内容</th>
      <th>发送者</th>
      <% if !current_user.nil? && current_user.power == 2 %>
        <th>收件人</th>
      <%end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
          <% if !current_user.nil? && current_user.power == 1 &&current_user.id == message.to_id%>
            <td><%= message.content %></td>
            <td><li style="list-style-type: none;">admin</li></td>
            <td><%= link_to '删除', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if current_user.power == 2 %>
            <td><%= message.content %></td>
            <td><li style="list-style-type: none;">admin</li></td>
            <% user = User.find_by(id: message.to_id) %>
            <% if user != nil %>
              <td><%= user.user_name %></td>
            <% end %>
            <td><%= link_to '详情', message %></td>
            <td><%= link_to '编辑', edit_message_path(message) %></td>
            <td><%= link_to '删除', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '首页', '/' %>
<% if !current_user.nil? && current_user.power == 2 %>
  <%= link_to '新建消息', new_message_path %>
<%end%>
