<%= render "/layouts/header" %>
<%= render "/layouts/nav" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>内容:</strong>
  <p><%= @message.content %></p>
</p>

<p>
  <strong>发送者:</strong>
  <li style="list-style-type: none;">admin</li>
</p>

<p>
  <strong>收件人:</strong>
  <% user = User.find_by(id: @message.to_id) %>
  <% if user != nil %>
    <p><%= user.user_name %></p>
  <% end %>
</p>

<%= link_to '编辑', edit_message_path(@message) %> |
<%= link_to '返回', messages_path %>
