<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "课程名称" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :college_id, "开课学院" %>
    <%= form.collection_select :college_id, College.order(:name), :id, :name , { :include_blank => '选择学院' }%>
    <% if !current_user.nil? && current_user.power == 2 %>
    <font size="3" color="blue">找不到学院？</font><%= link_to '添加学院', new_college_path %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :major_id,"专业名称" %>
    <%= form.collection_select :major_id, Major.where('id < 1'), :id, :name,{ :include_blank => '选择专业' } %>
    <% if !current_user.nil? && current_user.power == 2 %>
      <font size="3" color="blue">找不到专业？</font><%= link_to '添加专业', new_major_path %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :teacher_id,"授课老师" %>
    <%= form.collection_select :teacher_id, Teacher.where('id < 1'), :id, :name, { :include_blank => '选择教师' } %>
      <% if !current_user.nil? && current_user.power == 2 %>
      <font size="3" color="blue">找不到老师？</font><%= link_to '添加老师', new_teacher_path %>
  <% end %> 
  </div>       

  <div class="field">
    <%= form.label :year,"学年" %>
    <%= form.date_select :year %>
  </div>

  <div class="actions">
    <%= form.submit "提交", data: { confirm: '确定添加？' } %>
  </div>
<% end %>
