<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<table class="table table-hover" id="course_table" data-card-view="true">
  <thead>
    <tr>
      <th>Name</th>
      <th>Major</th>
      <th>Year</th>
      <th>College</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% if !@course.nil? %>
      <% @course.each do |course| %>
        <tr>
          <td><%= link_to course.name , course%></td>
          <td><%= course.major.name %></td>
          <td><%= course.year %></td>
          <td><%= course.major.college.name%></td>
          <td><%= link_to course.teacher.name , course.teacher%></td>
          <% if !current_user.nil? && current_user.power == 2%>
            <td><%= link_to '编辑课程', edit_course_path(course) %></td>
            <td><%= link_to '删除课程', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if !@course.nil? %>
  <% if @course.empty? %>
    <p>没找到您输入的课程信息，请换个关键词试试！</p>
  <% end %>
<% end %>
<br>
<% if current_user!=nil %>
  <%= link_to "添加课程", {:controller => "courses", :action => "new"}, {:title => "new1"} %>
<% else %>
  <%= link_to "添加课程" , {:controller => "courses", :action => "new"}, {:title => "new2"} %> 
<% end %>
<input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">