<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%# bg %>
<svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
    <defs>
      <radialGradient id="Gradient1" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
        <animate attributeName="fx" dur="34s" values="0%;1%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(255, 0, 255, 1)" />
        <stop offset="100%" stop-color="rgba(255, 0, 255, 0)" />
      </radialGradient>
       <radialGradient id="Gradient2" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
        <animate attributeName="fx" dur="23.5s" values="0%;1%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(255, 255, 0, 1)" />
        <stop offset="100%" stop-color="rgba(255, 255, 0, 0)" />
      </radialGradient>
      <radialGradient id="Gradient3" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
        <animate attributeName="fx" dur="21.5s" values="0%;1%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(0, 255, 255, 1)" />
        <stop offset="100%" stop-color="rgba(0, 255, 255, 0)" />
      </radialGradient>
      
      <radialGradient id="Gradient4" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
        <animate attributeName="fx" dur="23s" values="0%;5%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(0, 255, 0, 1)" />
        <stop offset="100%" stop-color="rgba(0, 255, 0, 0)" />
      </radialGradient>
       <radialGradient id="Gradient5" cx="50%" cy="50%" fx="10%" fy="50%" r=".5">
        <animate attributeName="fx" dur="24.5s" values="0%;5%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(0,0,255, 1)" />
        <stop offset="100%" stop-color="rgba(0,0,255, 0)" />
      </radialGradient>
      <radialGradient id="Gradient6" cx="50%" cy="50%" fx="50%" fy="50%" r=".5">
        <animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite" />
        <stop offset="0%" stop-color="rgba(255,0,0, 1)" />
        <stop offset="100%" stop-color="rgba(255,0,0, 0)" />
      </radialGradient>
    </defs>
  
     <!--<rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient4)">
      <animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite" />
      <animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite"/>
    </rect>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient5)">
      <animate attributeName="x" dur="23s" values="0%;-25%;0%" repeatCount="indefinite" />
      <animate attributeName="y" dur="24s" values="25%;-25%;25%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite"/>
    </rect>
      <rect x="0" y="0" width="100%" height="100%" fill="url(#Gradient6)">
      <animate attributeName="x" dur="25s" values="-25%;0%;-25%" repeatCount="indefinite" />
      <animate attributeName="y" dur="26s" values="0%;-25%;0%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite"/>
    </rect>-->
    
    <rect x="0" y="0" width="200%" height="200%" fill="url(#Gradient1)">
      <animate attributeName="x" dur="20s" values="0%;50%;0%" repeatCount="indefinite" />
      <animate attributeName="y" dur="21s" values="0%;50%;0%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="17s" repeatCount="indefinite"/>
    </rect>
    <rect x="0" y="0" width="100%" height="200%" fill="url(#Gradient2)">
      <animate attributeName="x" dur="23s" values="50%;-25%;50%" repeatCount="indefinite" />
      <animate attributeName="y" dur="24s" values="50%;-25%;50%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="18s" repeatCount="indefinite"/>
    </rect>
      <rect x="0" y="0" width="100%" height="200%" fill="url(#Gradient3)">
      <animate attributeName="x" dur="25s" values="0%;75%;0%" repeatCount="indefinite" />
      <animate attributeName="y" dur="26s" values="0%;25%;0%" repeatCount="indefinite" />
      <animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="19s" repeatCount="indefinite"/>
    </rect>
  

    
  </svg>
<%# bg %>
<div class="child">
<meta charset="utf-8">
    <h1>课程详情<br />
    <small>Course Detail</small></h1>
<div class="outside">
    <div class="content">
		<div class="card" >
				<div class="front">
				<%= @course.name %>
				</div>
				<div class="back">
				<div>
					<strong>Name:</strong>
					<%= @course.name %>
					<p>
					<strong>Major:</strong>
					<%= @course.major.name %>
					</p>
					<p>
					<strong>Year:</strong>
					<%= @course.year %>
					</p>
					<%= button_to '修改课程', edit_course_path(@course), :method => :get, class:"button" %>
					<input type = "submit" class="button" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">
				</div>
				</div>
		</div>
	</div>
	
<div class="insider">
<div class="comments-container">
    <h1>课程评价</h1>

    <ul id="comments-list" class="comments-list">
        <li>
            
					<% if !@comment.nil? %>
						<% @comment.each do |comment| %>
							<!-- 这里是楼主 -->
							<div class="comment-main-level">
								<div class="comment-avatar"><img src="/assets/girl<%=comment.user.id%>.jpeg" alt="">
								</div>
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-author"><a href="#"><%= "用户名:"+comment.user.user_name %></a></h6>
										<i class="fa fa-reply" onclick="callModal()" data-toggle="modal" data-target="#myModal<%=comment.id%>">回复</i>
										<i class="fa fa-heart"></i>
										
										<div class="modal fade" id=myModal<%=comment.id%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													</div>
													<% if current_user.nil? %>
														<div class="modal-body">请您先登陆</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
														</div>
													<%else%>
														<div class="modal-body">回复：<%=comment.user.user_name%></div>
															<%@review = Review.new()%>
															<%@review.user=current_user%>
															<%@review.comment=comment%>
															<%=render "reviews/form", review: @review %>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
														</div>
													<% end %>
												</div><!-- /.modal-content -->
											</div><!-- /.modal -->
										</div>

									</div>
									<div class="comment-content">
										<%= comment.content%>
									</div>
								</div>
							<% @review = comment.get_reviews %>
							<% if !@review.nil? %>
								<ul class="comments-list reply-list">
									<% @review.each do |review| %>
										
               				 			<!-- 下面是回复 -->
											<li>
											<div class="comment-avatar"><img src="/assets/girl<%=review.user.id%>.jpeg" alt="">
											</div>
												<div class="comment-box">
													<div class="comment-head">
													<%if review.user == comment.user%>
														<h6 class="comment-name by-author"><a href="#"><%= "用户名:"+comment.user.user_name %></a></h6>
													<%else%>
														<h6 class="comment-name"><a href="#"><%="用户名:"+review.user.user_name%></a></h6>
													<%end%>
														<i class="fa fa-reply" onclick="callModal()" data-toggle="modal" data-target="#myModalCite<%=review.id%>">引用</i>
														<i class="fa fa-heart"></i>

														<div class="modal fade" id=myModalCite<%=review.id%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																	</div>
																	<% if current_user.nil? %>
																		<div class="modal-body">请您先登陆</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
																		</div>
																	<%else%>
																		<div class="modal-body">回复：<%=comment.user.user_name%></div>
																			<%@review = Review.new()%>
																			<%@review.user=current_user%>
																			<%@review.comment=comment%>
																			<%@review.content=review.user.user_name+":"+'"'+review.content+'",'%>
																			<%=render "reviews/form", review: @review %>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
																		</div>
																	<% end %>
																</div><!-- /.modal-content -->
															</div><!-- /.modal -->
														</div>

													</div>
													<div class="comment-content">
														<%= review.content%>
													</div>
												</div>
											</li>
									<%end%>
								</ul>
							<%end%>
						<%end%>
					<%end%>
			</div>
		</li>
    </ul>
</div>
</div>
<div class="inner-pannel">
<div class="panel panel-success">
	<div class="panel-heading">
        <h3 class="panel-title">发表评论</h3>
    </div>
	<div class="panel-body">
<%= form_for Comment.new,url: "/courses/create_comment" do |form| %>
	<div class="form-group">
		<div class="col-xs-12">
			<textarea type="text" class="form-control" rows="3" name="content" placeholder="写下你的评论..." class="comment-text"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-6" >
			<button type="button" class="btn btn-success" onclick="showAction();" style="margin-top:100px">上传图片</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-10">
			<input type="submit" value="发布" class="submit-issue-button btn btn-primary">
		</div>
			<%#打分  %>
			<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
				<div class="star-rating">
					<fieldset>
						<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
						<input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Very Good">4 stars</label>
						<input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">3 stars</label>
						<input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor">2 stars</label>
						<input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Very Poor">1 star</label>
					</fieldset>
				</div>
			<%# 打分 %>
	</div>
	<input type="hidden" class="form-control"  name="course_id" value="<%=@course.id%>">
<% end %>
</div>
</div>
</div>


<script>

</script>

