<p id="notice"><%= notice %></p>

<div class="wrap">
<aside id="left">
<div class="mii-page">
    <h1>课程详情<br />
    <small>Course Detail</small></h1>
    <div class="mii-container">
        <div class="mii-container-top">
            <img src="/assets/ucas.png" class="flag">
            <span class="mii-gold-stars">
			<span class="mii-gold-star first"></span>
			<span class="mii-gold-star second"></span>
            <span class="mii-gold-star third"></span>
			<span class="mii-gold-star fourth"></span>
			<span class="mii-gold-star fifth"></span>
        	</span>
		</div>
		<div class="mii-container-bottom">
				<span class="mii-name">
				<strong>Name:</strong>
				<%= @course.name %>
				</p>
				</span>
				<p>
				<strong>Major:</strong>
				<%= @course.major.name %>
				</p>

				<p>
				<strong>Year:</strong>
				<%= @course.year %>
				</p>

				<%= link_to '修改课程', edit_course_path(@course) %> |
				<input type = "submit" class="btn btn-primary btn-xs" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">
		</div>
    </div>
</div>

</aside>

<section id="right" style=" overflow:scroll">
<div class="comments-container">
    <h1>评一评</h1>

    <ul id="comments-list" class="comments-list">
        <li>
            
					<% if !@comment.nil? %>
						<% @comment.each do |comment| %>
							<!-- 这里是楼主 -->
							<div class="comment-main-level">
								<div class="comment-avatar"><img src="/assets/girl<%=comment.user.id%>.jpeg" alt="">
								</div>
								<div class="comment-box">
									<div class="comment-head">
										<h6 class="comment-name by-author"><a href="#"><%= "用户名:"+comment.user.user_name %></a></h6>
										<i class="fa fa-reply" onclick="callModal()" data-toggle="modal" data-target="#myModal<%=comment.id%>">回复</i>
										<i class="fa fa-heart"></i>
										
										<div class="modal fade" id=myModal<%=comment.id%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													</div>
													<% if current_user.nil? %>
														<div class="modal-body">请您先登陆</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
														</div>
													<%else%>
														<div class="modal-body">回复：<%=comment.user.user_name%></div>
															<%@review = Review.new()%>
															<%@review.user=current_user%>
															<%@review.comment=comment%>
															<%=render "reviews/form", review: @review %>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
														</div>
													<% end %>
												</div><!-- /.modal-content -->
											</div><!-- /.modal -->
										</div>

									</div>
									<div class="comment-content">
										<%= comment.content%>
									</div>
								</div>
							<% @review = comment.get_reviews %>
							<% if !@review.nil? %>
								<ul class="comments-list reply-list">
									<% @review.each do |review| %>
										
               				 			<!-- 下面是回复 -->
											<li>
											<div class="comment-avatar"><img src="/assets/girl<%=review.user.id%>.jpeg" alt="">
											</div>
												<div class="comment-box">
													<div class="comment-head">
													<%if review.user == comment.user%>
														<h6 class="comment-name by-author"><a href="#"><%= "用户名:"+comment.user.user_name %></a></h6>
													<%else%>
														<h6 class="comment-name"><a href="#"><%="用户名:"+review.user.user_name%></a></h6>
													<%end%>
														<i class="fa fa-reply" onclick="callModal()" data-toggle="modal" data-target="#myModalCite<%=review.id%>">引用</i>
														<i class="fa fa-heart"></i>

														<div class="modal fade" id=myModalCite<%=review.id%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																	</div>
																	<% if current_user.nil? %>
																		<div class="modal-body">请您先登陆</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
																		</div>
																	<%else%>
																		<div class="modal-body">回复：<%=comment.user.user_name%></div>
																			<%@review = Review.new()%>
																			<%@review.user=current_user%>
																			<%@review.comment=comment%>
																			<%@review.content=review.user.user_name+":"+'"'+review.content+'",'%>
																			<%=render "reviews/form", review: @review %>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
																		</div>
																	<% end %>
																</div><!-- /.modal-content -->
															</div><!-- /.modal -->
														</div>

													</div>
													<div class="comment-content">
														<%= review.content%>
													</div>
												</div>
											</li>
									<%end%>
								</ul>
							<%end%>
						<%end%>
					<%end%>
			</div>
		</li>
    </ul>
</div>
</section>
</div>


<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8">


<div class="panel panel-success">
	<div class="panel-heading">
        <h3 class="panel-title">发表评论</h3>
    </div>
	<div class="panel-body">
<%= form_for Comment.new,url: "/courses/create_comment" do |form| %>
	<div class="form-group">
		<div class="col-xs-12">
			<textarea type="text" class="form-control" rows="3" name="content" placeholder="写下你的评论..." class="comment-text"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-6" >
			<button type="button" class="btn btn-success" onclick="showAction();" style="margin-top:100px">上传图片</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-10">
			<input type="submit" value="发布" class="submit-issue-button btn btn-primary">
		</div>
	</div>
	<input type="hidden" class="form-control"  name="course_id" value="<%=@course.id%>">
<% end %>
</div>
<div class="rating" data-vote="0">

    <div class="star hidden">
        <span class="full" data-value="0"></span>
        <span class="half" data-value="0"></span>
    </div>

    <div class="star">

        <span class="full" data-value="1"></span>
        <span class="half" data-value="0.5"></span>
        <span class="selected"></span>

    </div>

    <div class="star">

        <span class="full" data-value="2"></span>
        <span class="half" data-value="1.5"></span>
        <span class="selected"></span>

    </div>

    <div class="star">

        <span class="full" data-value="3"></span>
        <span class="half" data-value="2.5"></span>
        <span class="selected"></span>

    </div>

    <div class="star">

        <span class="full" data-value="4"></span>
        <span class="half" data-value="3.5"></span>
        <span class="selected"></span>

    </div>

    <div class="star">

        <span class="full" data-value="5"></span>
        <span class="half" data-value="4.5"></span>
        <span class="selected"></span>

    </div>

    <div class="score">
        <span class="score-rating js-score">0</span>
        <span>/</span>
        <span class="total">5</span>
    </div>
</div>
</div>