<% provide(:title, @user.user_name) %>
<div class="info">
  <ul>

  <li><%= image_tag("pic1.jpg") %></li>
  <li><strong>用户名:</strong><%= @user.user_name %></li>
  <li><strong>邮箱:</strong><%= @user.email %></li>
   <li><%= link_to "资料详情",   @user %></li>
  <li><%= link_to '消息', messages_path %></li>
  <li><%= link_to "退出登录",   '/logout' %></li>
  </ul>
</div>