<h1>果仁网</h1>
<%= link_to '注册', new_user_path %>
<%= link_to '登录', login_path %>
<div class="container">
  <%= search_form_for @q, url: search_courses_path, html: { method: :post } do |f| %>
    <%= f.label :name_or_year_or_major_name_or_teacher_name_or_major_college_name_cont %>
    <%= f.search_field :name_or_year_or_major_name_or_teacher_name_or_major_college_name_cont %>
  <%= f.submit "search" %>
<% end %>
</div>
<p>Todo4:实现信息展示</p>
<p>Todo5:其他</p>
<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "首页",   '/' %></li>
      <li><%= link_to "帮助",   '/help' %></li>
      <li><%= link_to "关于",  '/about' %></li>
      <li><%= link_to "联系方式", '/contact' %></li>
    </ul>
  </nav>
</div>