
<html>
  <head>
  </head>
   <div id="anony-nav">
    <div class="anony-nav-logo">
      <% logo = image_tag("logo.png",:width=>'200%',:alt => "logo",:class => "logo") %>
      <%= link_to logo, '/'  %>
    </div>
    <div class="container">
      <%= search_form_for @q, url: search_courses_path, html: { method: :post } do |f| %>
        <%= f.label "搜一下想看的课程叭" %>
        <%= f.search_field :name_or_year_or_major_name_or_teacher_name_or_major_college_name_cont %>
        <button id="btn" class="btn btn-success" type="submit">搜索</button>
      <% end %>
    </div>
    <div class="nav-right">
      <div class="login">
      <% if current_user.nil? %>
        <ul>
          <li><%= link_to '注册', new_user_path %></li>
          <li><%= link_to '登录', login_path %></li>
        </ul>
      <% end %>
    </div>
      <div class="anony-nav-links">
        <ul>
    
          <li>
            <%= link_to "课程",   '/courses' %>
          </li>
          <li>
            <%= link_to "学院",   '/colleges' %>
          </li>
          <li>
            <%= link_to "教师",   '/teachers' %>
          </li>
          <li>
            <%= link_to "评论",   '/reviews' %>

          </li>
        </ul>
      </div>
      
    <div class="user_info">
      <% if !current_user.nil? %>
          <%= render "partial" %>
      <% end %>
    </div>
    </div>
  </div>
<div>
</div>
<div class="line">
   <div class="square" id="square">U</div>
   <div class="square">C</div>
   <div class="square">A</div>
   <div class="square">S</div>
   <div class="square" style="margin-left:30px;">C</div>
   <div class="square">o</div>
   <div class="square">u</div>
   <div class="square">r</div>
   <div class="square">s</div>
   <div class="square">e</div>
   <div class="square" style="margin-left:30px;">E</div>
   <div class="square">v</div>
   <div class="square">a</div>
   <div class="square">l</div>
   <div class="square">u</div>
   <div class="square">a</div>
   <div class="square">t</div>
   <div class="square">i</div>
   <div class="square">o</div>
   <div class="square">n</div>
</div>
<div class="more">


<div class="popular_courses">
<h2 class="p_courses">热门课程······<%= link_to "更多",'/courses' %></h2>
  <div class="c_line_1">
    <div>
      <% course_1 = image_tag("course_1.jpg",:width=>'220px',:alt => "高级软件工程",:class => "show_popu_course") %>
      <%= link_to course_1, 'courses/1'  %>
    </div>
    <div>
      <% course_2 = image_tag("course_2.jpg",:width=>'220px',:alt => "化学",:class => "show_popu_course") %> 
      <%= link_to course_2, 'courses/2'  %> 
    </div>
  </div>
  <div class="c_line_2">
    <div><% course_3 = image_tag("course_3.jpg",:width=>'220px',:alt => "天文",:class => "show_popu_course") %>
      <%= link_to course_3, 'courses/3'  %>
    </div>
    <div><% course_4 = image_tag("course_4.jpg",:width=>'220px',:alt => "数学",:class => "show_popu_course") %>
      <%= link_to course_4, 'courses/4'  %>
    </div>
  </div>
  
</div>
<div class="popular_reviews">
  <h2 class="p_reviews">热门评论······<%= link_to "更多",'/reviews' %></h2>
<% if !@user.nil? %>
  <%= link_to '用户资料页', @user %>
<% end %>
<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "首页",   '/' %></li>
      <li><%= link_to "帮助",   '/help' %></li>
      <li><%= link_to "关于",  '/about' %></li>
      <li><%= link_to "联系方式", '/contact' %></li>
    </ul>
  </nav>
</div>
</div>
<%# 1111111111111 %>


    



</html>

<script>
var square = document.getElementsByClassName('square');

for (var i = 0; i < square.length; i++) {
    square[i].addEventListener('mouseenter', function() {
        this.classList.add("rubberBand");
        this.addEventListener("animationend", function() {
            this.classList.remove("rubberBand");
        }, false);
    })
}

var menu = document.getElementById('menu');
var secondcontainer = document.getElementById('secondcontainer');
var scposition = secondcontainer.getBoundingClientRect();
var profilpicture = document.getElementById('profilpicture');

document.addEventListener("scroll", function(event) {
    if (window.pageYOffset >= scposition.top - 150) {
        menu.style.opacity = "0";
    }
    if (window.pageYOffset <= scposition.top - 150) {
        menu.style.opacity = "1";
    }

    if (window.pageYOffset >= scposition.top - 100) {
        profilpicture.classList.add('profilpicture-animation');
    }
    if (window.pageYOffset <= scposition.top - 600) {
        profilpicture.classList.remove('profilpicture-animation');
    }
});
</script>