
<html>
  <head>
  </head>
   <div id="anony-nav">
    <div class="anony-nav-logo">
      <% logo = image_tag("logo.png",:width=>'200%',:alt => "logo",:class => "logo") %>
      <%= link_to logo, '/'  %>
    </div>
    <div class="container">
      <%= search_form_for @q, url: search_courses_path, html: { method: :post } do |f| %>
        <%= f.label "搜一下想看的课程叭" %>
        <%= f.search_field :name_or_year_or_major_name_or_teacher_name_or_major_college_name_cont %>
        <button id="btn" class="btn btn-success" type="submit">搜索</button>
      <% end %>
    </div>
    <div class="nav-right">
      <div class="anony-nav-links">
<<<<<<< HEAD
        <ul>
          
          <li>
            <%= link_to "课程",   '/courses' %>
          </li>
          <li>
            <%= link_to "学院",   '/colleges' %>
          </li>
          <li>
            <%= link_to "教师",   '/teachers' %>
          </li>
          <li>
            <%= link_to "留言",   '/teachers' %>
=======
        <ul>          
          <li>
            <%= link_to "留言",   '/teachers' %>
          </li>
          <li>
            <%= link_to "课程",   '/courses' %>
          </li>
          <li>
             <%= link_to "学院",   '/colleges' %>
          </li>
          <li>
            <%= link_to "教师",   '/teachers' %>
>>>>>>> 641ff4526ea924045fcbe447df18eac04ff3eeaa
          </li>
        </ul>
      </div>
      <div class="login">
        <% if current_user.nil? %>
          <%= link_to '注册', new_user_path %>
          <%= link_to '登录', login_path %>
        <% end %>
        <% if !current_user.nil? %>
          <%= render "partial" %>
          <%= link_to '消息', messages_path %>
        <% end %>
<<<<<<< HEAD
      </div>
    </div>  
  </div>

<div id="demo" class="carousel slide" data-ride="carousel">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
    </div>
    <div class="carousel-item">
      <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
    </div>
  </div>
 
  <!-- 左右切换按钮 -->

</div>
<div class="line">
         <div class="square" id="square">U</div>
         <div class="square">C</div>
         <div class="square">A</div>
         <div class="square">S</div>
         <div class="square" style="margin-left:30px;">C</div>
         <div class="square">o</div>
         <div class="square">u</div>
         <div class="square">r</div>
         <div class="square">s</div>
         <div class="square">e</div>
         <div class="square" style="margin-left:30px;">E</div>
         <div class="square">v</div>
         <div class="square">a</div>
         <div class="square">l</div>
         <div class="square">u</div>
         <div class="square">a</div>
         <div class="square">t</div>
         <div class="square">i</div>
         <div class="square">o</div>
         <div class="square">n</div>
     </div>

=======
      </div>  
    </div>
</div>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div>
    <!-- 指示符 -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
      <div class="carousel-item active" style="width:100%">
        <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" style="object-fit:fill">
      </div>
      <div class="carousel-item">
        <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
      </div>
      <div class="carousel-item">
        <img class="img-fluid d-block mx-auto" src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
      </div>
    </div>
   
    <!-- 左右切换按钮 -->
 
    </div>
         <div class="line">
           <div class="square" id="square">U</div>
           <div class="square">C</div>
           <div class="square">A</div>
           <div class="square">S</div>
           <div class="square" style="margin-left:30px;">C</div>
           <div class="square">o</div>
           <div class="square">u</div>
           <div class="square">r</div>
           <div class="square">s</div>
           <div class="square">e</div>
           <div class="square" style="margin-left:30px;">E</div>
           <div class="square">v</div>
           <div class="square">a</div>
           <div class="square">l</div>
           <div class="square">u</div>
           <div class="square">a</div>
           <div class="square">t</div>
           <div class="square">i</div>
           <div class="square">o</div>
           <div class="square">n</div>
       </div>
     </div>
<div>
>>>>>>> 641ff4526ea924045fcbe447df18eac04ff3eeaa
<p>Todo4:实现信息展示</p>
<p>Todo5:其他</p>
<% if !@user.nil? %>
  <%= link_to '用户资料页', @user %>
<% end %>
<div class="container">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "首页",   '/' %></li>
      <li><%= link_to "帮助",   '/help' %></li>
      <li><%= link_to "关于",  '/about' %></li>
      <li><%= link_to "联系方式", '/contact' %></li>
    </ul>
  </nav>
</div>
</div>
<%# 1111111111111 %>


    



</html>

<script>
var square = document.getElementsByClassName('square');

for (var i = 0; i < square.length; i++) {
    square[i].addEventListener('mouseenter', function() {
        this.classList.add("rubberBand");
        this.addEventListener("animationend", function() {
            this.classList.remove("rubberBand");
        }, false);
    })
}

var menu = document.getElementById('menu');
var secondcontainer = document.getElementById('secondcontainer');
var scposition = secondcontainer.getBoundingClientRect();
var profilpicture = document.getElementById('profilpicture');

document.addEventListener("scroll", function(event) {
    if (window.pageYOffset >= scposition.top - 150) {
        menu.style.opacity = "0";
    }
    if (window.pageYOffset <= scposition.top - 150) {
        menu.style.opacity = "1";
    }

    if (window.pageYOffset >= scposition.top - 100) {
        profilpicture.classList.add('profilpicture-animation');
    }
    if (window.pageYOffset <= scposition.top - 600) {
        profilpicture.classList.remove('profilpicture-animation');
    }
});
</script>