
<html>
  <head>
  </head>
  <body>
      <% if current_user.nil? %>
        <div class="ok" >
          <ul>
            <li><%= link_to '注册', new_user_path %></li>
            <li><%= link_to '登录', login_path %></li>
          </ul>
        </div>
      <% else %>
        <%= render "partial" %>
      <% end %>
    <div class="line" >
       <div class="square" id="square">U</div>
       <div class="square">C</div>
       <div class="square">A</div>
       <div class="square">S</div>
       <div class="square" style="margin-left:30px;">C</div>
       <div class="square">o</div>
       <div class="square">u</div>
       <div class="square">r</div>
       <div class="square">s</div>
       <div class="square">e</div>
       <div class="square" style="margin-left:30px;">E</div>
       <div class="square">v</div>
       <div class="square">a</div>
       <div class="square">l</div>
       <div class="square">u</div>
       <div class="square">a</div>
       <div class="square">t</div>
       <div class="square">i</div>
       <div class="square">o</div>
       <div class="square">n</div>
    </div>
    <div class="container2">
      <ul>
        <li><%= link_to "课程",   '/courses' %></li>
        <li><%= link_to "学院",   '/colleges' %></li>
        <li><%= link_to "教师",   '/teachers' %></li>
        <li><%= link_to "留言",   '/teachers' %></li>
      </ul>
    </div>
    <div class="bar7">
      <%= search_form_for @q, url: search_courses_path, html: { method: :post } do |f| %>
       <div class = "bar1">
         <span class="icon" ><%= image_tag("search2.ico") %></span>
         <%= f.search_field :name_or_year_or_major_name_or_teacher_name_or_major_college_name_cont,placeholder: "搜一下想看的课程叭",autocomplete: "off" %>
         <input type="submit" value="搜索" id="btn" class="btn" >
       </div>
      <% end %>
    </div>
    <div class="container" >
      <ul>
        <li><%= link_to "首页",   '/' %></li>
        <li><%= link_to "帮助",   '/help' %></li>
        <li><%= link_to "关于",  '/about' %></li>
        <li><%= link_to "联系方式", '/contact' %></li>
      </ul>
    </div>
  </body>
</html>

<script>
var square = document.getElementsByClassName('square');

for (var i = 0; i < square.length; i++) {
    square[i].addEventListener('mouseenter', function() {
        this.classList.add("rubberBand");
        this.addEventListener("animationend", function() {
            this.classList.remove("rubberBand");
        }, false);
    })
}

var menu = document.getElementById('menu');
var secondcontainer = document.getElementById('secondcontainer');
var scposition = secondcontainer.getBoundingClientRect();
var profilpicture = document.getElementById('profilpicture');

document.addEventListener("scroll", function(event) {
    if (window.pageYOffset >= scposition.top - 150) {
        menu.style.opacity = "0";
    }
    if (window.pageYOffset <= scposition.top - 150) {
        menu.style.opacity = "1";
    }

    if (window.pageYOffset >= scposition.top - 100) {
        profilpicture.classList.add('profilpicture-animation');
    }
    if (window.pageYOffset <= scposition.top - 600) {
        profilpicture.classList.remove('profilpicture-animation');
    }
});
</script>