<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,"姓名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :college_id,"开课学院" %>
    <%= form.collection_select :college_id, College.order(:name), :id, :name , { :include_blank => '选择学院' }%>
  </div>

  <div class="field">
    <%= form.label :email,"邮箱" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.radio_button :gender_id, "1" %>
    <%= form.label :gender_id_1, "男老师" %>
    <%= form.radio_button :gender_id, "2" %>
    <%= form.label :gender_id_2, "女老师" %>
  </div>

  <div class="actions">
    <%= form.submit "提交",data:{ confirm: '确定添加？' }%>
  </div>
<% end %>
