
<%= render "/layouts/header" %>
<%= render "/layouts/nav" %>
<p id="notice"><%= notice %></p>
<div id="content">
<h1>Teachers</h1>

<table class="table table-hover" id="course_table" data-card-view="true">
  <thead>
    <tr>
      <th>Name</th>
      <th>College</th>
      <th>Gender</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <% college = College.find_by(id: teacher.college_id)%>
        <% if college != nil %>
          <td><%= college.name %></td>
        <% end %>
        <% gender = Gender.find_by(id: teacher.gender_id)%>
        <% if gender != nil %>
          <td><%= gender.name %></td>
        <% end %>
        <td><%= teacher.email %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">
<div>
<%= link_to 'New Teacher', new_teacher_path %>
</div>
</div>