<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>College:</strong>
  <%= @teacher.college_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<%if !current_user.nil? && current_user.power == 2 %>
  <%= link_to '修改教师信息', edit_teacher_path(@teacher) %>
<% end %>
<input type = "submit" name="Submit" value="返回" onclick="javascript:window.history.back(-1);">
