
<div id="header-top">
	<div class="header-top-left">
		<ul>
			<li>
				<%= link_to "课程",   '/courses' %>
			</li>
			<li>
		        <%= link_to "学院",   '/colleges' %>
		      </li>
		      <li>
		        <%= link_to "教师",   '/teachers' %>
		      </li>
		      <li>
		        <%= link_to "热评",   '/teachers' %>
		      </li>
		</ul>
	</div >
	<div class="header-top-right">
		<ul>
			<li>
				<%= link_to '注册', '/users/new' %>
			</li>
			<li>
				<%= link_to '登录', '/sessions/new' %>
			</li>
		</ul>
	</div>
</div>